@page "/indexer"

<h3>Indexer</h3>

<p>An indexer is a special type of property that allows a class or a structure to be accesed like an array for its internal collection. C# allows us to define cutom indexers, generic indexers and aslo
    overload indexers.</p>

<p>
    An indexer can be defined the same way as property with this keyword and square brackers [].
</p>

@code {

}
